// gray
$systemGray: rgb(142, 142, 147);
$systemGray2: rgb(174, 174, 178);
$systemGray3: rgb(199, 199, 204);
$systemGray4: rgb(209, 209, 214);
$systemGray5: rgb(229, 229, 234);
$systemGray5t: rgba(229, 229, 234, 0.5);
$systemGray6: rgb(242, 242, 247);

// colors
$systemRed: rgb(255, 59, 48);
$systemOrange: rgb(255, 149, 0);
$systemYellow: rgb(255, 204, 0);
$systemGreen: rgb(40, 205, 65);
$systemCyan: rgb(85, 190, 240);

$templateColor:  rgb(85, 190, 240);
$templateColorLight: rgba(85, 190, 240, 0.1);
$nnmtColor: rgb(255, 149, 0);
$nnmtColorLight: rgba(255, 149, 0, 0.1);